/include/ "system-conf.dtsi"
/ {
	chosen {
		bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk0p2 rw rootwait cma=512M";
	};
};


&amba {
	zyxclmm_drm {
		compatible = "xlnx,zocl";
		status = "okay";
		interrupt-parent = <&axi_intc_0>;
		interrupts = <0  4>, <1  4>, <2  4>, <3  4>,
			     <4  4>, <5  4>, <6  4>, <7  4>,
			     <8  4>, <9  4>, <10 4>, <11 4>,
			     <12 4>, <13 4>, <14 4>, <15 4>,
			     <16 4>, <17 4>, <18 4>, <19 4>,
			     <20 4>, <21 4>, <22 4>, <23 4>,
			     <24 4>, <25 4>, <26 4>, <27 4>,
			     <28 4>, <29 4>, <30 4>, <31 4>;
	};
};

&axi_intc_0 {
      xlnx,kind-of-intr = <0x0>;
      xlnx,num-intr-inputs = <0x20>;
      interrupt-parent = <&gic>;
      interrupts = <0 89 4>;
};

&sdhci1 {
      no-1-8-v;
      disable-wp;
};

/{
    dpu: dpu@8f000000 {
         compatible = "deephi, dpu";
         reg = <0x0 0x8f000000 0x0 0x700>;
         interrupts = <0x0 106 0x1 0x0 107 0x1 0x0 108 0x1 0x0 109 0x1>;
         interrupt-parent = <&gic>;
         core-num = <0x4>;

         softmax@800001000 {
            compatible = "deephi,smfc";
            interrupt-parent = <&gic>;
            interrupts = <0x0 0x6e 0x1>;
            core-num = <0x1>;
        };
     };
     dpcma: dpcma {
         compatible = "deephi,cma";
     };

};

